<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] O.o</title>
    <script type="importmap"></script>

    <!--coloar icono-->
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

    <link rel="stylesheet" href="~/DataBase_Web.styles.css" asp-append-version="true" />

    @RenderSection("CSS" , required: false)



</head>



<body>

    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">

                <a class="navbar-brand" href="#">INICIO</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Contact" asp-action="Index"> Contactos </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Contact" asp-action="Privacy"> Modelos BIM </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Contact" asp-action="Privacy"> DashBoard </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Contact" asp-action="Privacy"> Uniclass </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Contact" asp-action="Privacy"> Analizador IDS </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>








    <div class="d-flex">
        <aside class="bg-dark text-white p-3" style="width: 250px; min-height: calc(100vh - 56px);">
            <h5 class="text-center mb-4"><i class="fa-solid fa-school"></i> Colegios</h5>
            <div class="list-group list-group-flush shadow-sm">



                <a asp-controller="VelascoAlvarado" asp-action="Velasco_Index" asp-route-id="A"
                   class="list-group-item list-group-item-action bg-dark text-white border-secondary">
                    <i class="fa-solid fa-building-columns me-2"></i> I.E Velasco Alvarado
                </a>






                <a asp-controller="ColegioB" asp-action="Detalles" asp-route-id="B"
                   class="list-group-item list-group-item-action bg-dark text-white border-secondary">
                    <i class="fa-solid fa-building-columns me-2"></i> Colegio B
                </a>
                <a asp-controller="Colegio" asp-action="Detalles" asp-route-id="C"
                   class="list-group-item list-group-item-action bg-dark text-white border-secondary">
                    <i class="fa-solid fa-building-columns me-2"></i> Colegio C
                </a>
            </div>
        </aside>






        <main role="main" class="flex-grow-1 p-4 bg-light">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </main>
    </div>








    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Smith Soto - <a asp-area="" asp-controller="Contact" asp-action="Privacy">Privacy</a>
        </div>
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)




</body>
</html>
